* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fae5d3;
  height: 9.6rem;
  padding: 0 4.8rem;

  position: relative;
}
.logo {
    height: 6.2rem;
    width: 13.3rem;
  
}
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

/*****************************/
/* Hero Section */
/*****************************/

.section-hero {
  background-color: #fae5d3;
  padding: 4.8rem 0 9.6rem 0;
  position: relative;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

.heading-primary {
  font-size: 5.2rem;
  font-weight: 700;
  margin-bottom: 3.2rem;
  text-transform: uppercase;
}
.btn,
.btn:link,
.btn:visited {
  font-size: 2rem;
  font-weight: 600;
  display: inline-block; /* este inline, ca sa mearga trebe pus asta */
  padding: 1.6rem 3.2rem;
  text-decoration: none;
  border-radius: 9px;
  font-family: inherit;
  border: none;
  cursor: pointer;

  /* transition: background-color 1s; ca sa faci doar pt asta */
  transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #cf711f;
  color: #fff;
}

.btn--outtline:link,
.btn--outtline:visited {
  background-color: #fff;
  color: #555;
}

.btn--outtline:hover,
.btn--outtline:active {
  background-color: #cf711f;

  /* trick ca sa audaugi border inauntru */
  box-shadow: inset 0 0 0 3px #fff;
}

/*****************************/
/* Query Section */
/*****************************/
.section-cta {
  margin-top: 5rem;
  padding: 0;
  width: 100%;
  margin-bottom: 2rem;
}
.container {
  max-width: 160rem;
  padding: 0 1.2rem;
  margin: 0 auto;
}
.cta {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  border: 1px solid black;
}

.cta-text-box {
  color: #2e1907;
  padding: 2.8rem 4.4rem 2.4rem 4.4rem;
}

.cta {
  color: inherit;
  margin-bottom: 3.2rem;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2.4rem;
  row-gap: 1.2rem;
}

.cta-form label {
  display: block;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.4rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.2);
}

.cta-form input::placeholder {
  color: #aaa;
}
.cta *:focus {
  outline: none;
  box-sizing: 0 0 0 8px rgba(253, 242, 233, 0.5);
}

.section-featured {
  padding: 0rem;
  width: 100%;
}

/*****************************/
/* Featured Section */
/*****************************/

.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #cf711f;
}
.heading-featured {
  font-size: 3.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2.4rem;
  color: black;
}
.heading-text {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2.4rem;
  color: black;
}

.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  margin-left: 15rem;
  margin-right: 15rem;
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}
.feature-icon {
  color: #e67e22;
  height: 3.2rem;
  width: 3.2rem;
  margin-bottom: 3.2rem;
  padding: 1.6rem;
  border-radius: 50%;
}
.feature-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}
.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

/*****************************/
/* Product Section */
/*****************************/
.section-meals {
  padding: 9.6rem 0;
}

.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.2);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.3s;
}

.meal:hover {
  transform: translateY(-1rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.2);
}

.meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.meal-tag {
  margin-bottom: 1.2rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  background-color: #51cf66;
  color: #333;
  border-radius: 100px;
  font-weight: bold;
}

.meal-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.meal-atttributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.meal-atttribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.meal-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #e67e22;
}

.meal-img {
  width: 100%;
}
.tag--paleo {
  background-color: #d6d834;
}

.all-recipes {
  text-align: center;
  font-size: 1.8rem;
}

/*****************************/
/* Us Section */
/*****************************/
.section-about {
  padding: 4.8rem 0 13rem 0;
  margin-bottom: 5rem;
  width: 100vw;
  height: 750px;
}
.cont {
  background-image: url("car-two.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(90%);
}
.txt {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
  justify-content: center;
}
.white {
  color: white;
}
.bigger {
  font-size: 2.4rem;
}

.content {
  color: white;
}
.border {
  border: 2px solid #e67e22;
  border-radius: 50%;
  color: white;
}
#content-text {
  margin-top: 10rem;

  padding: 4.8rem 0 9.6rem 0;
  position: relative;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

.heading-primary {
  font-size: 5.2rem;
  font-weight: 700;
  margin-bottom: 3.2rem;
  text-transform: uppercase;
}
.btn,
.btn:link,
.btn:visited {
  font-size: 2rem;
  font-weight: 600;
  display: inline-block; /* este inline, ca sa mearga trebe pus asta */
  padding: 1.6rem 3.2rem;
  text-decoration: none;
  border-radius: 9px;
  font-family: inherit;
  border: none;
  cursor: pointer;

  /* transition: background-color 1s; ca sa faci doar pt asta */
  transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #cf711f;
  color: #fff;
}

.btn--outtline:link,
.btn--outtline:visited {
  background-color: #fff;
  color: #555;
}

.btn--outtline:hover,
.btn--outtline:active {
  background-color: #cf711f;

  /* trick ca sa audaugi border inauntru */
  box-shadow: inset 0 0 0 3px #fff;
}

/*****************************/
/* FOOTTER */
/*****************************/

.footer {
  padding: 12.8rem 0;
  border-top: 1px solid;
  background-color: black;
  color: white;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}
.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  column-gap: 1.2rem;
  row-gap: 3.2rem;
}
.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: white;
  transition: all 0.3s;
}
.footer-link:hover,
.footer-link:active {
  color: white;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}
.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}
.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}
.copyright {
  font-size: 1.4rem;
  line-height: 1.4;
  color: white;
  margin-top: auto;
}
.logo-col {
  display: flex;
  flex-direction: column;
}
.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}
.address {
  margin-bottom: 2.4rem;
}
.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}
