.section-sell {
  padding: 9.6rem 0;
}

.reset-all-btn,
.save-all-btn {
  text-transform: uppercase;
  color: #e67e22;
  padding: 1.2rem;
  font-size: 2rem;
  font-weight: 600;
  background-color: #fff;
  border: 3px solid #e67e22;
  margin-bottom: 2rem;
  transition: all 0.3s;
  cursor: pointer;
}
.reset-all-btn:hover,
.save-all-btn:hover {
  border: 3px solid #aa5f1d;
  color: #aa5f1d;
}
.border {
  border: 1px solid #555;
  margin-bottom: 2rem;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.container-check {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.container-check:hover input ~ .checkmark {
  background-color: #ccc;
}

.container-check input:checked ~ .checkmark {
  background-color: #e67e22;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container-check input:checked ~ .checkmark:after {
  display: block;
}

.container-check .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

input[type="number"],
input[type="date"],
input[type="text"],
input[type="file"],
textarea {
  width: 50%;
  padding: 12px 20px;
  margin: 1.2rem;
  display: inline-block;
  border: 1px solid #e67e22;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="file"] {
  cursor: pointer;
}
.req {
  color: red;
}

