@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}
/************ Generals  *************/
.heading-primary {
  font-size: 7.2rem;
  line-height: 1.05;
  font-weight: 700;
  color: #eee;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.5;
  color: #eee;
  margin: 3.2rem 0 4.2rem 0;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 2.2rem;
}
.btn:link,
.btn:visited {
  display: inline-block;
  background-color: #e67e22;
  color: #eee;
  font-size: 2rem;
  border-radius: 9px;
  padding: 1.6rem;
  text-decoration: none;
  transition: all 0.3s;
}
.btn:hover,
.btn:active {
  background-color: #9b571c;
}
.margin-top {
  margin-top: 3.2rem;
}
/************ Header  *************/
.logo {
  height: 4rem;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4.8rem;
  height: 9.6rem;
}

/************ Nav  *************/
.main-nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 1.2rem;
  align-items: center;
}
.main-nav-list-page {
  margin-right: 9.6rem;
}
.main-nav-list-page,
.main-nav-list-user {
  display: flex;
  gap: 2.2rem;
}
.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: #555;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #e67e22;
}

.main-nav-link-sing:link,
.main-nav-link-sing:visited {
  text-decoration: none;
  color: #e67e22;
  font-weight: 500;
  font-size: 1.8rem;
}
.main-nav-link-log:link,
.main-nav-link-log:visited {
  text-decoration: none;
  background-color: #e67e22;
  border-radius: 9px;
  color: #eee;
  font-weight: 500;
  font-size: 1.8rem;
  padding: 1.2rem;
}
/************ Section HERO  *************/
.seaction-hero {
  margin: 0 0 4.6rem 0;
}
.hero {
  position: relative;
}

.hero-text-box {
  position: absolute;
  top: 25%;
  left: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.features {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-hero,
.image-actions {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

/************ Query BOX  *************/
.hero-query-box {
  background-color: #f0f0f0;
  position: absolute;
  bottom: -30px;
  width: 60%;
  border: 1px solid #555;
  border-radius: 9px;
  margin: 0px 8rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.grid {
  display: grid;
}

.grid--4-cols {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  gap: 3.2rem;
}
.grid--3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 2.4rem;
  
}

.btn,
.btn:link,
.btn:visited {
  font-size: 2rem;
  font-weight: 600;
  display: inline-block; /* este inline, ca sa mearga trebe pus asta */
  padding: 1.6rem 3.2rem;
  text-decoration: none;
  border-radius: 9px;
  font-family: inherit;
  border: none;
  cursor: pointer;
}

.grid--5-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 2.4rem;
  /*! background-color: aqua; */
  border: solid;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.grid--2-cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: 3rem;
}
.style-box {
  padding: 1.2rem;
  text-align: center;
  margin: 1.2rem;
  width: 15rem;
  border-radius: 9px;
}
.text {
  margin: 1rem 1.2rem 0 1.2rem;
  font-size: 1.5rem;
}
.reset-btn,
.submit-btn {
  background-color: #e67e22;
  width: 12rem;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin: 1rem 1.2rem 0 1.2rem;
  border-radius: 9px;
}

.grid--7-cols {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  place-items: center;
  gap: 3rem;
}

/*********** OUR SERVICES ***********/
.section-how {
  position: relative;
  padding: 9.6rem 0;
}
.center {
  display: block;
  text-align: center;
}
.subheading {
  font-weight: 500;
  color: #e67e22;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.heading-secondary {
  font-weight: 600;
  color: #2f2f2f;
  letter-spacing: 0.5px;
  line-height: 1.2;
  font-size: 5.2rem;
}
.container-text {
  color: #e67e22;
  font-size: 2.2rem;
  letter-spacing: 0.5px;
}
.icon {
  font-size: 2.6rem;
  color: #e67e22;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.text {
  text-align: justify;
  line-height: 1.2;
  font-size: 1.8rem;
  color: #555;
}
.time,
.palce,
.electric {
  width: 250px;
}
/*********** Section CAR ***********/
.section-cars {
  padding: 9.6rem 0;
}
.car {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
  border-radius: 1.2rem;
  overflow: hidden;
}
.car-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}
.car-img {
  width: 100%;
  object-fit: cover;
}
.car-title {
  font-size: 3.6rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 1.2rem;
}
.car-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 0 2rem;
}
.car-attribute {
  font-size: 1.8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.2rem;
  font-weight: 600;
}
.icon-attribute {
  width: 2.4rem;
  height: 2.4rem;
  color: #e67e22;
}
.car-link:link,
.car-link:visited {
  display: inline-block;
  margin-top: 0.2rem;
  text-transform: uppercase;
  font-size: 2rem;
  color: #555;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}
.car-link:hover,
.car-link:active {
  color: #e67e22;
}
/*********** Section Actions ***********/
.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  border: 2px solid #e67e22;
  margin-bottom: 1.2rem;
}
.icon-feature {
  color: #eee;
  height: 2.8rem;
  width: 2.8rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title-feature {
  font-size: 3.6rem;
  color: #e67e22;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.text-feature {
  color: #eee;
  font-size: 2.4rem;
}
/*********** Section US ***********/
.section-us {
  padding: 9.6rem 0;
}
.img-us {
  width: 100%;
}
.text-us {
  color: #e67e22;
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
.heading-secondary-us {
  color: #333;
  font-size: 3.6rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.txt {
  font-size: 2rem;
  color: #333;
  line-height: 1.2;
  letter-spacing: 1px;
  margin-bottom: 2rem;
}

/*********** FOOTER***********/
.footer {
  background-color: #000;
  padding: 12.8rem 0;
  border-top: 1px solid #ccc;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
  color: #fff;
}
.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  column-gap: 1.2rem;
  row-gap: 3.2rem;
  color: #fff;
}
.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #fff;
  transition: all 0.3s;
}
.footer-link:hover,
.footer-link:active {
  color: #e67e22;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}
.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}
.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}
.copyright {
  font-size: 1.4rem;
  line-height: 1.4;
  color: #fff;
  margin-top: auto;
}
.logo-col {
  display: flex;
  flex-direction: column;
}
.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}
.address {
  margin-bottom: 2.4rem;
  color: #fff;
}
.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

/* Mobile */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}
.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}
.icon-mobile-nav[name="close-outline"] {
  display: none;
}