extends ../components/layout

block content
  div
    h1 External API
    p
      | Extend the user details.
      br
      strong This route should be protected.

  form.login()
    p User Registration
    div
      label(for='email') Email
      input(type='text', id='email', name='email')
    div
      label(for='password') Password
      input(type='password', id='password', name='password')
    div
      label(for='age') Age
      input(type='text', id='age', name='age')
    div
      label(for='country') Country
      input(type='text', id='country', name='country')
    div
      label(for='city') City
      input(type='text', id='city', name='city')
    div
      label(for='zip') Zip-Code
      input(type='text', id='zip', name='zip')
    div
      input(type='hidden', name='_csrf', value=csrfToken)
    div
     button(class=buttonClass type="submit" onclick="create()") Create

     script
        include ../extend.js