head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='faq.css')
  title Document
header.header
  a(href='home.html')
    img.logo(src='logo.png' alt='BidDriven logo')
  nav.main-nav
    ul.main-nav-list
      li
        a.main-nav-link(href='home.html`') About us
      li
        a.main-nav-link(href='buy-a-car.html') Buy a Car
      li
        a.main-nav-link(href='sell-car.html') Sell a Car
      li
        a.main-nav-link(href='faq.html') Faq
      li
        a.main-nav-link(href='login.html') Sing In
      li
        a.main-nav-link.nav-cta(href='create-account.html') Sing Up
main
  h3(data-text='Coming soon...') Coming soon...
footer.footer(style='margin-top: 45rem')
  .container.grid.grid--footer
    .logo-col
      a.footer-logo(href='#')
        img.logo(src='logo.png' alt='Omnifood logo')
      ul.social-links
        li
          a.footer-link(href='#')
            ion-icon.social-icon(name='logo-instagram')
        li
          a.footer-link(href='#')
            ion-icon.social-icon(name='logo-facebook')
        li
          a.footer-link(href='#')
            ion-icon.social-icon(name='logo-twitter')
      p.copyright Copyright &copy; 2027 by David
    .address-col
      p.footer-heading Contact us
      address.contacts
        p.address
          | 623 Harrison St., 2nd Floor, San Francisco, CA 94107
        p
          a.footer-link(href='tel:415-201-6370') 415-201-6370
          br
          a.footer-link(href='mailto:support@car-shop.com') support@car-shop.com
    nav.nav-col
      p.footer-heading Account
      ul.footer-nav
        li
          a.footer-link(href='create-account.html') Create account
        li
          a.footer-link(href='login.html') Sign in
        li
          a.footer-link(href='#') iOS app
        li
          a.footer-link(href='#') Android app
    nav.nav-col
      p.footer-heading Company
      ul.footer-nav
        li
          a.footer-link(href='#') About BidDriven
        li
          a.footer-link(href='#') For Business
        li
          a.footer-link(href='#') Cooking partners
        li
          a.footer-link(href='#') Careers
    nav.nav-col
      p.footer-heading Resources
      ul.footer-nav
        li
          a.footer-link(href='#') Recipe directory
        li
          a.footer-link(href='#') Help center
        li
          a.footer-link(href='#') Privacy &amp; terms
