include ../components/login-button
include ../components/logout-button

head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='home-style.css')
  script(type='module' src='https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js')
  script(nomodule='' src='https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js')
  title Home
header.header
  a(href='/')
    img.logo(src='logo.png' alt='BidDriven logo')
  nav.main-nav
    ul.main-nav-list
      li
        a.main-nav-link(href='/') About us
      li
        a.main-nav-link(href='/buyCar') Buy a Car
      li
        a.main-nav-link(href='/sellCar') Sell a Car
      li
        a.main-nav-link(href='/faq') Faq
      li
       
        mixin authentication-button(isAuthenticated)
            if isAuthenticated
                +logout-button
            else
                +login-button

      li
        a.main-nav-link.nav-cta(href='/sign-up//') Sing Up
main
  section#hero.section-hero
    .hero
      .hero-text-box
        h1.heading-primary We have every car you need
        p.hero-description
          | We Provide best solution. consectetur adipisicing elit, sed do
          | eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
          | enim ad minim veniam
        a.btn.btn--outtline(href='#how') Learn more &darr;
      .hero-img-box
        img.hero-img(src='bg-image.jpg' alt='Woman enjoy eating food')
  section#cta.section-cta
    .container
      .cta
        .cta-text-box
          form.cta-form(action='#')
            div
              label(for='select-where') Select Make
              select#select-where(required='')
                option(value='Porsche') Porsche
                option(value='BMW') BMW
                option(value='Audi') Audi
                option(value='Volvo') Volvo
                option(value='Dacia') Dacia
                option(value='Altele') Altele
            div
              label(for='select-where') Select model
              select#select-where(disabled='')
                option(value='') Please choose one option:
                option(value='friends') Friends and family
                option(value='youtube') Youtube ad
                option(value='facebook') Facebook ad
                option(value='podcast') Podcast
                option(value='Others') Others
            div
              label(for='select-where') Select year
              select#select-where(required='')
                option(value='2023') 2023
                option(value='2022') 2022
                option(value='2021') 2021
                option(value='2020') 2020
                option(value='2019') 2019
                option(value='2018') 2018
            div
              label(for='select-where') Select body style
              select#select-where(required='')
                option(value='Sedan') Sedan
                option(value='Coupe') Coupe
                option(value='Minivan') Minivan
                option(value='Convertible') Convertible
                option(value='Van') Van
                option(value='SUV') SUV
            div
              label(for='select-where') Select vehicle status
              select#select-where(required='')
                option(value='New') New/option&gt;
                option(value='Second hand') Second hand
            div
              label(for='select-where') Type of auction
              select#select-where(required='')
                option(value='Dynamic') Dynamic
                option(value='Buy now') Buy now
                option(value='Blind') Blind
                option(value='Target') Target
            button.btn.btn--form Discover more
  section.section-featured
    .container
      h2.heading-featured-in OUR SERVICES
      h1.heading-featured What We Offers
      p.heading-text
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        | eiusmod tempor
    .grid.grid--3-cols
      .feature
        ion-icon.feature-icon(name='today-outline')
        p.feature-title Anytime
        p.feature-text
          | A small river named Duden flows by their place and supplies it
          | with you
      .feature
        ion-icon.feature-icon(name='location-outline')
        p.feature-title Lots of location
        p.feature-text
          | A small river named Duden flows by their place and supplies it
          | with you
      .feature
        ion-icon.feature-icon(name='car-sport-outline')
        p.feature-title Electric Cars
        p.feature-text
          | A small river named Duden flows by their place and supplies it
          | with you
  section#meals.section-meals
    .container
      h2.heading-featured-in OUR CARS
      h1.heading-featured Choose Your Car
    .container.grid.grid--3-cols.margin-bottom-md
      .meal
        img.meal-img(src='car.jpg' alt='Japanese Gyozas')
        .meal-content
          .meal-tag
            span.tag Electric
          p.meal-title Hyundai I30
          ul.meal-atttributes
            li.meal-atttribute
              ion-icon.meal-icon(name='speedometer-outline')
              span
                strong 190
                |  hp
            li.meal-atttribute
              ion-icon.meal-icon(name='battery-full-outline')
              span
                | Autonomy 
                strong 500km
            li.meal-atttribute
              ion-icon.meal-icon(name='star-outline')
              span
                strong 4.9
                |  rating (537)
      .meal
        img.meal-img(src='car.jpg' alt='Japanese Gyozas')
        .meal-content
          .meal-tag
            span.tag Electric
          p.meal-title Hyundai I30
          ul.meal-atttributes
            li.meal-atttribute
              ion-icon.meal-icon(name='speedometer-outline')
              span
                strong 190
                |  hp
            li.meal-atttribute
              ion-icon.meal-icon(name='battery-full-outline')
              span
                | Autonomy 
                strong 500km
            li.meal-atttribute
              ion-icon.meal-icon(name='star-outline')
              span
                strong 4.9
                |  rating (537)
      .meal
        img.meal-img(src='car.jpg' alt='Japanese Gyozas')
        .meal-content
          .meal-tag
            span.tag Electric
          p.meal-title Hyundai I30
          ul.meal-atttributes
            li.meal-atttribute
              ion-icon.meal-icon(name='speedometer-outline')
              span
                strong 190
                |  hp
            li.meal-atttribute
              ion-icon.meal-icon(name='battery-full-outline')
              span
                | Autonomy 
                strong 500km
            li.meal-atttribute
              ion-icon.meal-icon(name='star-outline')
              span
                strong 4.9
                |  rating (537)
      .meal
        img.meal-img(src='car.jpg' alt='Japanese Gyozas')
        .meal-content
          .meal-tag
            span.tag Electric
          p.meal-title Hyundai I30
          ul.meal-atttributes
            li.meal-atttribute
              ion-icon.meal-icon(name='speedometer-outline')
              span
                strong 190
                |  hp
            li.meal-atttribute
              ion-icon.meal-icon(name='battery-full-outline')
              span
                | Autonomy 
                strong 500km
            li.meal-atttribute
              ion-icon.meal-icon(name='star-outline')
              span
                strong 4.9
                |  rating (537)
      .meal
        img.meal-img(src='car.jpg' alt='Japanese Gyozas')
        .meal-content
          .meal-tag
            span.tag Electric
          p.meal-title Hyundai I30
          ul.meal-atttributes
            li.meal-atttribute
              ion-icon.meal-icon(name='speedometer-outline')
              span
                strong 190
                |  hp
            li.meal-atttribute
              ion-icon.meal-icon(name='battery-full-outline')
              span
                | Autonomy 
                strong 500km
            li.meal-atttribute
              ion-icon.meal-icon(name='star-outline')
              span
                strong 4.9
                |  rating (537)
      .meal
        img.meal-img(src='car.jpg' alt='Japanese Gyozas')
        .meal-content
          .meal-tag
            span.tag Electric
          p.meal-title Hyundai I30
          ul.meal-atttributes
            li.meal-atttribute
              ion-icon.meal-icon(name='speedometer-outline')
              span
                strong 190
                |  hp
            li.meal-atttribute
              ion-icon.meal-icon(name='battery-full-outline')
              span
                | Autonomy 
                strong 500km
            li.meal-atttribute
              ion-icon.meal-icon(name='star-outline')
              span
                strong 4.9
                |  rating (537)
  section#hero.section-about.cont
    #content-text
      .container
        h2.heading-featured-in.bigger OUR SERVICES
        h1.heading-featured.white What We Offers
      .grid.grid--4-cols
        .feature.content
          ion-icon.feature-icon.border(name='today-outline')
          p.feature-title.content Anytime
          p.feature-text.content
            | A small river named Duden flows by their place and supplies it
            | with you
        .feature
          ion-icon.feature-icon.border(name='location-outline')
          p.feature-title.content Lots of location
          p.feature-text.content
            | A small river named Duden flows by their place and supplies it
            | with you
        .feature
          ion-icon.feature-icon.border(name='car-sport-outline')
          p.feature-title.content Electric Cars
          p.feature-text.content
            | A small river named Duden flows by their place and supplies it
            | with you
        .feature
          ion-icon.feature-icon.border(name='happy-outline')
          p.feature-title.content Enjoy The Ride
          p.feature-text.content
            | A small river named Duden flows by their place and supplies it
            | with you
  section#hero.section-us
    .hero
      .hero-text-box
        h1.heading-primary Choose A Perfect Car
        p.hero-description
          | A small river named Duden flows by their place and supplies it
          | with the necessary regelialia. It is a paradisematic country, in
          | which roasted parts of sentences fly into your mouth. On her way
          | she met a copy. The copy warned the Little Blind Text, that where
          | it came from it would have been rewritten a thousand times and
          | everything that was left from its origin would be the word and and
          | the Little Blind Text should turn around and return to its own,
          | safe country. But nothing the copy said could convince her and so
          | it didn t take long until a few insidious Copy Writers ambushed
          | her, made her drunk with Longe and Parole and dragged her into
          | their agency, where they abused her for their.
        a.btn.btn--outtline(href='#how') Search Vehicle
      .hero-img-box
        img.hero-img(src='bg-image.jpg' alt='Woman enjoy eating food')
  footer.footer
    .container.grid.grid--footer
      .logo-col
        a.footer-logo(href='#')
          img.logo(src='logo.png' alt='Omnifood logo')
        ul.social-links
          li
            a.footer-link(href='#')
              ion-icon.social-icon(name='logo-instagram')
          li
            a.footer-link(href='#')
              ion-icon.social-icon(name='logo-facebook')
          li
            a.footer-link(href='#')
              ion-icon.social-icon(name='logo-twitter')
        p.copyright Copyright &copy; 2027 by David
      .address-col
        p.footer-heading Contact us
        address.contacts
          p.address
            | 623 Harrison St., 2nd Floor, San Francisco, CA 94107
          p
            a.footer-link(href='tel:415-201-6370') 415-201-6370
            br
            a.footer-link(href='mailto:support@car-shop.com') support@car-shop.com
      nav.nav-col
        p.footer-heading Account
        ul.footer-nav
          li
            a.footer-link(href='create-account.html') Create account
          li
            a.footer-link(href='login.html') Sign in
          li
            a.footer-link(href='#') iOS app
          li
            a.footer-link(href='#') Android app
      nav.nav-col
        p.footer-heading Company
        ul.footer-nav
          li
            a.footer-link(href='#') About BidDriven
          li
            a.footer-link(href='#') For Business
          li
            a.footer-link(href='#') Cooking partners
          li
            a.footer-link(href='#') Careers
      nav.nav-col
        p.footer-heading Resources
        ul.footer-nav
          li
            a.footer-link(href='#') Recipe directory
          li
            a.footer-link(href='#') Help center
          li
            a.footer-link(href='#') Privacy &amp; terms
