mixin auction_content(car)
    main
      section.section-each-car.margin-top
        .container.flex
          img.car-img(src='../images/5.jpg' alt='')
          .car-details
            ul.details
              li.car-detail #{car.name}
              li.car-detail #{car.kilometers}
              li.car-detail #{car.fuelTypes}
              li.car-detail #{car.originCountry}
        .cont-1.border 2
        .conatiner.grid.grid--2-cols.border
          .cont-2 2
          .cont-3 3
        .car-btns
          button.del-btn Delete
          button.bit-btn Make a bit
      .mapouter
        .gmap_canvas
          iframe.gmap_iframe(frameborder='0' scrolling='no' marginheight='0' marginwidth='0' src='https://maps.google.com/maps?width=2048&height=400&hl=en&q=romania, bucuresti&t=&z=14&ie=UTF8&iwloc=B&output=embed')
          a(href='https://embed-googlemap.com') embed code google maps
        style.
          .mapouter {
          position: relative;
          text-align: right;
          width: 100%;
          height: 400px;
          }
          .gmap_canvas {
          overflow: hidden;
          background: none !important;
          width: 100%;
          height: 400px;
          }
          .gmap_iframe {
          width: 100% !important;
          height: 400px !important;
          }