include ./authentication-button
include ./authentication2-button

mixin auth-nav(isAuthenticated,isExtended)
  div(class="navbar-nav ml-auto")
    +authentication-button(isAuthenticated)
    +authentication2-button(isExtended)