include ./car-card

mixin buyCar_content2(cars)
      main
        section.section-query
          form.query-box(action='#')
            .container.grid.grid--5-cols.border
              .model
                p.text Select Model
                select.style-box
                  option(value='audi') Audi
                  option(value='acura') Acura
                  option(value='aixam') Aixam
                  option(value='alfa romeo') Alfa romeo
                  option(value='aston martin') Aston martin
                  option(value='bentley') Bentley
                  option(value='bmw') BMW
                  option(value='bugatti') Bugatti
                  option(value='cadillac') Cadillac
                  option(value='chevrolet') Chevrolet
                  option(value='citroen') Citroen
                  option(value='cupra') Cupra
                  option(value='dacia') Dacia
                  option(value='daewoo') Daewoo
                  option(value='dodge') Dodge
                  option(value='ds automobiles') Ds Automobiles
                  option(value='ferrari') Ferrari
                  option(value='fiat') Fiat
                  option(value='ford') Ford
                  option(value='gmc') GMC
                  option(value='honda') Honda
                  option(value='hummer') Hummer
                  option(value='hyundai') Hyundai
                  option(value='infiniti') Infiniti
                  option(value='izuzu') Izuzu
                  option(value='iveco') Iveco
                  option(value='jaguar') Jaguar
                  option(value='jeep') Jeep
                  option(value='kia') Kia
                  option(value='land rover') Land Rover
                  option(value='lexus') Lexus
                  option(value='lotus') Lotus
                  option(value='maserati') Maserati
                  option(value='maybach') Maybach
                  option(value='mazda') Mazda
                  option(value='mclaren') Mclaren
                  option(value='mercedes-benz') Mercedes-Benz
                  option(value='mini') Mini
                  option(value='mitsubishi') Mitsubishi
                  option(value='nissan') Nissan
                  option(value='opel') Opel
                  option(value='peugeot') Peugeot
                  option(value='pontiac') Pontiac
                  option(value='porsche') Porsche
                  option(value='renault') Renault
                  option(value='rolls-royce') Rolls-royce
                  option(value='rover') Rover
                  option(value='saab') Saab
                  option(value='seat') Seat
                  option(value='skoda') Skoda
                  option(value='smart') Smart
                  option(value='ssangyong') Ssangyong
                  option(value='subaru') Subaru
                  option(value='suzuki') Suzuki
                  option(value='tesla') Tesla
                  option(value='toyota') Toyota
                  option(value='volkswagen') Volkswagen
                  option(value='volvo') Volvo
              .year
                p.text Select Year
                select.style-box
                  option(value='1990-2000') 1990-2000
                  option(value='2000-2010') 2000-2010
                  option(value='2010') 2010
              .price
                p.text Select Price
                select.style-box
                  option(value='0-10000') 0-10000
                  option(value='10000-15000') 10000-15000
                  option(value='15000+') 15000+
              .body-style
                p.text Select Style
                select.style-box
                  option(value='cabrio') Cabrio
                  option(value='combi') Combi
                  option(value='compact') Compact
                  option(value='coupe') Coupe
                  option(value='suv') Suv
              .power-style
                p.text Select Power
                select.style-box
                  option(value='0-100') 0-100
                  option(value='100-200') 100-200
                  option(value='200+') 200+
              .transmission-style
                p.text Select Gear-Box
                select.style-box
                  option(value='automatic') automatic
                  option(value='manual') manual
              .fuel-style
                p.text Select fuell
                select.style-box
                  option(value='petrol') petrol
                  option(value='electric') electric
                  option(value='lpg') lpg
                  option(value='hybrid') hybrid
                  option(value='diesel') diesel
              .submit
                button.submit-btn(type='submit') Submit
        section.section-car 
            .container
                h1.car-heading Autoturisme gasite - 33 123
                .car-cont.grid.grid--7-cols.margin-top
                            .car-cards
                                img.car-image(src='images/6.jpg' alt='BMW')
                                .car-card-content
                                span.car-card.car-card-name BMW
                                .data
                                        span.car-card.car-card-firstRegistr 2019
                                        span.car-card.car-card-kilometers  95 000 KM
                                        span.car-card.car-card-fuelTypes Diesel
                                span.car-card.car-card-originCountry
                                    ion-icon.car-icon(name='pin-outline') 
                                    span Spain
                                p.car-card Pret estimat:
                                    span.car-card.car-card-price 40 000 EUR
                                a.car-link(href='#') See the car &rarr;
                            .car-cards
                                img.car-image(src='images/6.jpg' alt='BMW')
                                .car-card-content
                                span.car-card.car-card-name BMW
                                .data
                                    span.car-card.car-card-firstRegistr 2019
                                    span.car-card.car-card-kilometers  95 000 KM
                                    span.car-card.car-card-fuelTypes Diesel
                                span.car-card.car-card-originCountry
                                    ion-icon.car-icon(name='pin-outline') 
                                    span Spain
                                p.car-card  Pret estimat:
                                    span.car-card.car-card-price 40 000 EUR
                                a.car-link(href='#') See the car &rarr;
                            each car in cars
                             +car-card(car)
