include ./car-card



mixin buyCar_content2(cars)
      main
        section.section-query
          form.query-box(action='#')
            .container.grid.grid--5-cols.border
              .model
                p.text Select Model
                select.style-box#MODEL
                  option(value='audi') audi
                  option(value='acura') acura
                  option(value='aixam') aixam
                  option(value='alfa romeo') alfa romeo
                  option(value='aston martin') aston martin
                  option(value='bentley') bentley
                  option(value='bmw') bmw
                  option(value='bugatti') bugatti
                  option(value='cadillac') cadillac
                  option(value='chevrolet') chevrolet
                  option(value='citroen') citroen
                  option(value='cupra') cupra
                  option(value='dacia') dacia
                  option(value='daewoo') daewoo
                  option(value='dodge') dodge
                  option(value='ds automobiles') ds automobiles
                  option(value='ferrari') ferrari
                  option(value='fiat') fiat
                  option(value='ford') ford
                  option(value='gmc') gmc
                  option(value='honda') honda
                  option(value='hummer') hummer
                  option(value='hyundai') hyundai
                  option(value='infiniti') infiniti
                  option(value='izuzu') izuzu
                  option(value='iveco') iveco
                  option(value='jaguar') jaguar
                  option(value='jeep') jeep
                  option(value='kia') kia
                  option(value='land rover') land rover
                  option(value='lexus') lexus
                  option(value='lotus') lotus
                  option(value='maserati') maserati
                  option(value='maybach') maybach
                  option(value='mazda') mazda
                  option(value='mclaren') mclaren
                  option(value='mercedes-benz') mercedes-benz
                  option(value='mini') mini
                  option(value='mitsubishi') mitsubishi
                  option(value='nissan') nissan
                  option(value='opel') opel
                  option(value='peugeot') peugeot
                  option(value='pontiac') pontiac
                  option(value='porsche') porsche
                  option(value='renault') renault
                  option(value='rolls-royce') rolls-royce
                  option(value='rover') rover
                  option(value='saab') saab
                  option(value='seat') seat
                  option(value='skoda') skoda
                  option(value='smart') smart
                  option(value='ssangyong') ssangyong
                  option(value='subaru') subaru
                  option(value='suzuki') suzuki
                  option(value='tesla') tesla
                  option(value='toyota') toyota
                  option(value='volkswagen') volkswagen
                  option(value='volvo') volvo
              .year
                p.text Select Year
                select.style-box#YEAR
                  option(value='1990') 1990
                  option(value='2000') 2000
                  option(value='2010') 2010
              .price
                p.text Select Price
                select.style-box#PRICE
                  option(value='0') 0
                  option(value='10000') 10000
                  option(value='15000') 15000
              .body-style
                p.text Select Style
                select.style-box#STYLE
                  option(value='cabrio') Cabrio
                  option(value='combi') Combi
                  option(value='compact') Compact
                  option(value='coupe') Coupe
                  option(value='suv') Suv
              .power-style
                p.text Select Power
                select.style-box#POWER
                  option(value='0') 0
                  option(value='100') 100
                  option(value='200') 200
              .transmission-style
                p.text Select Gear-Box
                select.style-box#GEARBOX
                  option(value='automatic') automatic
                  option(value='manual') manual
              .fuel-style
                p.text Select fuel
                select.style-box#FUEL
                  option(value='petrol') petrol
                  option(value='electric') electric
                  option(value='lpg') lpg
                  option(value='hybrid') hybrid
                  option(value='diesel') diesel
              .submit
                button.submit-btn#SUBMIT(type="Submit") Submit
        section.section-car 
            .container
                h1.car-heading Autoturisme gasite - 33 123
                .car-cont.grid.grid--7-cols.margin-top
                            .car-cards
                                img.car-image(src='images/6.jpg' alt='BMW')
                                .car-card-content
                                span.car-card.car-card-name BMW
                                .data
                                        span.car-card.car-card-firstRegistr 2019
                                        span.car-card.car-card-kilometers  95 000 KM
                                        span.car-card.car-card-fuelTypes Diesel
                                span.car-card.car-card-originCountry
                                    ion-icon.car-icon(name='pin-outline') 
                                    span Spain
                                p.car-card Pret estimat:
                                    span.car-card.car-card-price 40 000 EUR
                                a.car-link(href='#') See the car &rarr;
                            .car-cards
                                img.car-image(src='images/6.jpg' alt='BMW')
                                .car-card-content
                                span.car-card.car-card-name BMW
                                .data
                                    span.car-card.car-card-firstRegistr 2019
                                    span.car-card.car-card-kilometers  95 000 KM
                                    span.car-card.car-card-fuelTypes Diesel
                                span.car-card.car-card-originCountry
                                    ion-icon.car-icon(name='pin-outline') 
                                    span Spain
                                p.car-card  Pret estimat:
                                    span.car-card.car-card-price 40 000 EUR
                                a.car-link(href='#') See the car &rarr;
                            each car in cars
                             +car-card(car)
