mixin faq_content2()
    section#meals.section-meals
    section.section-featured
            .container
                h1.heading-featured Freaquently Asked Questions
                h2.heading Find more details about us and our process
            .grid.grid--3-cols
                .space
                .feature
                    a(href='/soon')
                    p.feature-title Sign Up Questions
                    ul.article-list
                            li.article-list-item.article-promoted
                                a.article-list-link(href='/soon') Is there a fee to join?
                            li.article-list-item.article-promoted
                                a.article-list-link(href='/soon') Can I customize my subscription box frequency?
                            li.article-list-item
                                a.article-list-link(href='/soon') How do I contact you?
                            li.article-list-item
                                a.article-list-link(href='/soon') What can I expect the first time?
                  
                .feature
                    a(href='/soon')
                    p.feature-title  Shipping and Billing
                    ul.article-list
                            li.article-list-item
                                a.article-list-link(href='/soon') Is there a shipping fee?
                            li.article-list-item
                                a.article-list-link(href='/soon') Where do you ship?
                            li.article-list-item
                                a.article-list-link(href='/soon') Do you ship to England ?
                            li.article-list-item
                                a.article-list-link(href='/soon') Are there shipping restrictions for certain cars?
                
                .feature
                    a(href='/soon') 
                    p.feature-title Policies
                    ul.article-list
                            li.article-list-item.article-promoted
                                a.article-list-link(href='/soon')   What is your cancellation policy?
                            li.article-list-item
                                a.article-list-link(href='/soon')   What&apos;s your referral policy?
                            li.article-list-item
                                a.article-list-link(href='/soon')   Legal Lesning Contract Details
                            li.article-list-item
                                a.article-list-link(href='/soon')   What is your return policy?
                            li.article-list-item
                                a.article-list-link(href='/soon')   What is your refund policy?
                feature
                    a(href='/soon') 
                    p.feature-title Misc
                    ul.article-list
                            li.article-list-item.article-promoted
                                a.article-list-link(href='/soon') How big is a sedan?
                            li.article-list-item
                                a.article-list-link(href='/soon') What to do after betting?
                  
    section#meals.section-meals