mixin faq_content2()
    footer.footer(style='margin-top: 45rem')
        .container.grid.grid--footer
            .logo-col
                h3(data-text='Coming soon...') Coming soon...
                    a.footer-logo(href='#')
                        img.logo(src='logo.png' alt='Omnifood logo')
                    ul.social-links
                        li
                        a.footer-link(href='#')
                            ion-icon.social-icon(name='logo-instagram')
                        li
                        a.footer-link(href='#')
                            ion-icon.social-icon(name='logo-facebook')
                        li
                        a.footer-link(href='#')
                            ion-icon.social-icon(name='logo-twitter')