mixin faq_content2()
        h1 FAQ
            .accordion
                .accordion-item
                    .accordion-item-header How do I obtain a temporary licence plate for driving home a car I bought abroad?
                    .accordion-item-body
                        .accordion-item-body-content A temporary licence or number plate allows you to drive a car you have recently bought in one country to your home country for registrations. You can obtain a temporary plate in the EU country where you buy your car; the seller should be able to help you with this.  As temporary number plates are not mutually recognised within the EU, check first whether all the countries you will drive through will accept the temporary plate issued by the country where you buy your car.  You should get a permanent number plate in the country where you register your car.  You will also need insurance that is valid in all the countries you will drive through.
                .accordion-item
                    .accordion-item-header I&apos;d like to buy a car in a neighbouring EU country. What kind of guarantee will it come with?
                    .accordion-item-body
                        .accordion-item-body-content You are covered by a minimum two-year legal guarantee when you buy a new car from a professional seller. The guarantee period may be reduced to no less than one year for a used vehicle. The guarantee covers manufacturing faults, for which the seller is responsible. You may also receive an additional commercial guarantee. This can give you better protection but can never replace or reduce the minimum 2-year guarantee, which you always have under EU rules.  Under EU law, you may invoke your guarantee at any dealer in the manufacturer&apos;s network, regardless of the EU country in which you bought the car. So if you buy your car in Germany and take it back with you to France, you can go to a car dealership for that make of car that is close to your home to ask for a manufacturing fault to be remedied (within the guarantee period), rather than travelling back to Germany.
                .accordion-item
                    .accordion-item-header What happens if I buy a second-hand car from a car dealer in another EU country and there is a problem?
                    .accordion-item-body
                        .accordion-item-body-content
                            ul(style='padding-left: 1rem;')
                                li This will depend on what the dealer told you about the car when you bought it, and what the problem is.
                                li Under EU law, the quality and performance of goods must be satisfactory. Even if you buy a second-hand product, the seller must deliver you the product in conformity with the contract of sale. The product must comply with the description given by the seller and be fit for your particular purpose. The product must comply with the conditions you accepted at the time of conclusion of the contract.
                                li The seller is not liable for defects you already knew at the time of purchase and for those resulting from the usual deterioration of the car.
                                li Under EU law, you have minimum two years to invoke guarantee if the product you purchased turns out to be faulty or not as advertised. The guarantee period may be reduced to no less than one year for a used vehicle. This should be made clear to you at the time of purchase.
                                li After 6 months, you can still invoke the guarantee but, if the dealer contests that the defect existed from the start, you may have to prove it, probably by involving a technical expert.
                                li When you discover a technical problem, you are required to notify the seller as soon as possible but not later than two months.
                .accordion-item
                    .accordion-item-header What happens if I buy a second-hand car from a private person and there is a problem?
                    .accordion-item-body
                         .accordion-item-body-content  Your rights in this case are extremely limited. Consumer law does not apply to a private sale - it only applies when a business sells to a consumer. You should therefore exercise extreme care if you buy from a private individual. If you cannot resolve the matter amicably, you might consider a civil action against the seller, but this can prove costly and difficult.
                .accordion-item
                    .accordion-item-header  Can&apos;t I just bring the car I bought abroad back to my home country using the number plates from my old car?
                    .accordion-item-body
                          .accordion-item-body-content  NO - That&apos;s illegal.