extends index2

include ./super-footer
include ./main-navbar
include ./login-button
include ./logout-button

mixin authentication-button(isAuthenticated)
  if isAuthenticated
    +logout-button
  else
    +login-button


block layout-content
  
    header(class = "header") 
        a(href='/')
            img.logo(src='logo.png' alt='BidDriven logo')
            ul.main-nav-list
                        +main-navbar(activeRoute)
                        ul.main-nav-list
                            li
                            +authentication-button(isAuthenticated)
                            li
                            a.main-nav-link.nav-cta(href='/sign-up/ /') Sign Up
    main 
      block content
      +super-footer