mixin sellCar_content2()  
    section#cta.section-cta
        .container
            .cta
                .cta-text-box
                    form.cta-form(action='#')
                        div
                            label(for='select-where') Select Make
                            select#select-where(required='')
                                option(value='Porsche') Porsche
                                option(value='BMW') BMW
                                option(value='Audi') Audi
                                option(value='Volvo') Volvo
                                option(value='Dacia') Dacia
                                option(value='Altele') Altele
                        div
                            label(for='select-where') Select model
                            select#select-where(disabled='')
                                option(value='') Please choose one option:
                                option(value='friends') Friends and family
                                option(value='youtube') Youtube ad
                                option(value='facebook') Facebook ad
                                option(value='podcast') Podcast
                                option(value='Others') Others
                        div
                            label(for='select-where') Select year
                            select#select-where(required='')
                                option(value='2023') 2023
                                option(value='2022') 2022
                                option(value='2021') 2021
                                option(value='2020') 2020
                                option(value='2019') 2019
                                option(value='2018') 2018
                        div
                            label(for='select-where') Select body style
                            select#select-where(required='')
                                option(value='Sedan') Sedan
                                option(value='Coupe') Coupe
                                option(value='Minivan') Minivan
                                option(value='Convertible') Convertible
                                option(value='Van') Van
                                option(value='SUV') SUV
                        div
                            label(for='select-where') Select vehicle status
                            select#select-where(required='')
                                option(value='New') New;
                                option(value='Second hand') Second hand
                        div
                            label(for='select-where') Type of auction
                            select#select-where(required='')
                                option(value='Dynamic') Dynamic
                                option(value='Buy now') Buy now
                                option(value='Blind') Blind
                                option(value='Target') Target
                        div
                            label(for='select-where') Country
                            select#select-where(required='')
                                option(value='Romania') Romania
                                option(value='UK') UK
                                option(value='Poland') Poland
                                option(value='Uzbekistan') Uzbekistan
                        div
                            label(for='select-where') Km
                            select#select-where(required='')
                                option(value='0-1000') 0-1000
                                option(value='1000-50000') 1000-50000
                                option(value='50000-150000') 50000-150000
                                option(value='150000+') 150000+
                        button.btn.btn--form Show