mixin super-footer()
    footer.footer
        .container.grid.grid--footer
            .logo-col
                a.footer-logo(href='#')
                     img.logo(src='logo.png' alt='Omnifood logo')
                ul.social-links
                    li
                        a.footer-link(href='#')
                        ion-icon.social-icon(name='logo-instagram')
                    li
                        a.footer-link(href='#')
                        ion-icon.social-icon(name='logo-facebook')
                    li
                        a.footer-link(href='#')
                        ion-icon.social-icon(name='logo-twitter')
                p.copyright Copyright &copy; 2022 by BitDriven
            .address-col
                p.footer-heading Contact us
                    address.contacts
                        p.address Romania, Timis, Timisoara
                        p
                            a.footer-link(href='tel:415-201-6370') 415-201-6370
                            br
                            a.footer-link(href='mailto:support@car-shop.com') support@car-shop.com
            nav.nav-col
                p.footer-heading Account
                ul.footer-nav
                    li
                        a.footer-link(href='/sign-up/ /') Create account
                    li
                        a.footer-link(href='/login/ /') Sign in
                    li
                        a.footer-link(href='/soon') iOS app
                    li
                        a.footer-link(href='/soon') Android app
            nav.nav-col
                p.footer-heading Company
                ul.footer-nav
                    li
                        a.footer-link(href='/soon') About BidDriven
                    li
                        a.footer-link(href='/soon') For Business
                    li
                        a.footer-link(href='/soon') Our Parteners
                    li
                        a.footer-link(href='/soon') Careers
            nav.nav-col
                p.footer-heading Resources
                ul.footer-nav
                    li
                        a.footer-link(href='/soon') Help center
                    li
                        a.footer-link(href='/soon') Privacy &amp; terms
                   
                    <script>(function () { var s = document.createElement("script"); s.setAttribute("data-account", "lxMtA1JYvi"); s.setAttribute("src", "https://cdn.userway.org/widget.js"); document.body.appendChild(s); })();</script>